/*Delete white spave*/

body {
    margin: 0px;
}

tr {
    vertical-align: top;
    margin-bottom: 200px;
}

table {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Background */

.header_background {
    background-color: #03D0E6;
}


/*Reference gradient background*/

.content_background {
    background-color: #393939;
}


/* Frame */

.header_frame {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 0px 6px 0px;
    background-color: #03D0E6;
}

.content_frame {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #393939;
}

.menu_frame {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 0px 6px 6px;
    background-color: black;
}

.menu_background {
    background-color: black;
}

.content_left {
    width: 26.5%;
    background-color: #393939;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}

.content_left_contact {
    background-color: #393939;
    display: inline-block;
}

.right_content_text {
    font-size: 18px;
    color: #B9B9B9;
    letter-spacing: 1.1px;
    line-height: 25px;
}

.contact_pic {
    display: inline-block;
    vertical-align: middle;
    background-color: #03D0E6;
    margin-left: 0px;
}

.cell_row {
    margin: 10px 0px 10px 0px;
}

.contact_text {
    display: inline-block;
    width: 200px;
    vertical-align: top;
    font-size: 18px;
    color: #B9B9B9;
    margin-left: 5px;
}

.contact_cell {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.block_content_right {
    padding: 20px 0px 20px 0px;
}

.contact_cell_pic {
    border-radius: 10px;
    padding-left: 5px;
}

.resume_cell_pic {
    padding-left: 5px;
}

.skill_cell {
    display: inline-block;
}

.cell_line {
    display: inline-block;
    vertical-align: middle;
    width: 168px;
}

.cell_line_right {
    display: inline-block;
    width: 200px;
    text-align: middle;
}

.cell_background {
    width: 250px;
}

.content_right {
    width: 68%;
    background-color: #393939;
    display: inline-block;
    padding: 13px 0px 0px 10px;
}

.content_title_background {
    background-color: #03D0E6;
}

.header_title {
    text-align: left;
    padding: 10px;
    font-size: 40px;
    color: white;
    font-family: "Helvetica", Arial, sans-serif;
}

.tab_style {
    text-align: center;
    background-color: black;
    border: 0px #3A5795 solid;
    margin: 8px 12px 8px 8px;
    letter-spacing: 1.5px;
    display: inline-block;
    font-size: 20px;
}

div.tab_style:hover {
    color: gray;
}

a {
    text-decoration: none;
    color: #B9B9B9;
}

a.projects {
    color: black;
}

a:hover {
    color: gray;
}

.inactive_tab {
    color: white;
}

.active_tab {
    color: gray;
}

div#content2 {
    display: none;
}

div#content3 {
    display: none;
}

.content_title {
    font-size: 25px;
    font-family: "Helvetica", Arial, sans-serif;
    text-align: center;
    color: white;
}

.content_article {
    font-size: 24px;
    padding: 10px;
}

.profile_frame {
    width: 100%;
}

.profile {
    border: 2px solid #B9B9B9;
    margin: 8px 0px 0px 0px;
}

.font_family {
    font-family: "Helvetica", Arial, sans-serif;
}

.font_skill_title {
    margin: 5px 0px 5px 0px;
    font-size: 20px;
    color: #03D0E6;
    text-align: left;
    letter-spacing: 1.5px;
}

.font_profess_skill {
    font-size: 18px;
    letter-spacing: 1px;
    margin: 15px 0px 5px 0px;
    color: white;
    text-align: left;
}

.font_school_experience {
    font-size: 18px;
    letter-spacing: 1px;
    color: white;
    text-align: left;
    display: inline-block;
}

.font_year {
    display: inline-block;
}

.skill_margin {
    margin: 0px 0px 8px 0px;
}

.font_skills {
    font-size: 18px;
    margin: 5px 0px 5px 0px;
    color: #B9B9B9;
    letter-spacing: 1px;
    text-align: left;
}

.font_right_title {
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
    padding: 0px 0px 0px 0px;
    margin-left: 2px;
    color: #03D0E6;
    vertical-align: middle;
    display: inline-block;
}

.meter {
    /* Status bar height */
    height: 10px;
    width: 250px;
    position: relative;
    background: #B9B9B9;
    padding: 2px 0px 2px 0px;
    text-align: center;
}

.meter > span {
    display: block;
    height: 100%;
    background-image: linear-gradient( center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
    position: relative;
    overflow: hidden;
    background-color: #03D0E6;
}


/*Content2*/

.thumbs {
    list-style: none;
    margin: 0px;
}

.li_projects {
    display: inline-block;
    width: 270px;
    height: 240px;
    border-radius: 5px;
    margin: 20px;
    background-color: white;
    opacity: 1;
}

.li_project_font {
    font-size: 20px;
    text-align: center;
}

.li_project_pic {
    text-align: center;
    border-radius: 5px;
    margin: 10px 10px 0px 10px;
}

.class_svg_project_pic {
    width: 250px;
    height: 200px;
    margin: 10px 10px 0px 10px;
}

.svg_text_font {
    font-size: 22px;
    letter-spacing: 1.5px;
}
