@media screen and (min-width: 1000px) {
  /* line 16, ../sass/rwd.scss */
  .content_frame {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #393939;
  }

  /* line 22, ../sass/rwd.scss */
  .content_left {
    width: 26.5%;
    background-color: #393939;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
  }

  /* line 29, ../sass/rwd.scss */
  .content_right {
    width: 68%;
    background-color: #393939;
    display: inline-block;
    padding: 13px 0px 0px 10px;
  }

  /* line 35, ../sass/rwd.scss */
  .cell_line_right {
    display: inline-block;
    width: 200px;
    text-align: middle;
  }

  /* line 40, ../sass/rwd.scss */
  .li_projects {
    display: inline-block;
    width: 270px;
    height: 240px;
    border-radius: 5px;
    margin: 20px;
    background-color: white;
    opacity: 1;
  }

  /* line 49, ../sass/rwd.scss */
  .menu_frame {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 0px 6px 6px;
    background-color: black;
  }

  /* line 56, ../sass/rwd.scss */
  .header_frame {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 0px 6px 0px;
    background-color: #03D0E6;
  }

  /* line 63, ../sass/rwd.scss */
  .menu_background {
    background-color: black;
  }

  /*Reference gradient background*/
  /* line 67, ../sass/rwd.scss */
  .content_background {
    background-color: #393939;
  }

  /* line 70, ../sass/rwd.scss */
  .thumbs {
    list-style: none;
    margin: 0px auto;
    padding: 10px;
    text-align: left;
  }

  /* line 76, ../sass/rwd.scss */
  .font_project_category {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px 10px 20px;
  }

  /* line 82, ../sass/rwd.scss */
  .profileandpic,
  .category_skills {
    vertical-align: top;
    display: inline-block;
  }

  /* line 87, ../sass/rwd.scss */
  .header_title {
    text-align: left;
    padding: 10px;
    font-size: 20px;
    color: white;
    font-family: "Helvetica", Arial, sans-serif;
  }
}
/*Pad*/
@media screen and (min-width: 501px) and (max-width: 999px) {
  /* line 100, ../sass/rwd.scss */
  .content_frame {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #393939;
  }

  /* line 106, ../sass/rwd.scss */
  .menu_frame {
    margin-left: 20px;
    background-color: black;
  }

  /* line 110, ../sass/rwd.scss */
  .content_left {
    width: 100%;
    margin: 0px;
    display: block;
    vertical-align: top;
    background-color: #393939;
    padding: 6px 0px 6px 6px;
  }

  /* line 118, ../sass/rwd.scss */
  .content_right {
    margin: 0px 24px;
    background-color: #393939;
    display: block;
  }

  /* line 123, ../sass/rwd.scss */
  .cell_line_right {
    display: none;
  }

  /* line 126, ../sass/rwd.scss */
  .li_projects {
    display: inline-block;
    width: 270px;
    height: 240px;
    border-radius: 5px;
    margin: 20px 10px;
    background-color: white;
    opacity: 1;
  }

  /* line 135, ../sass/rwd.scss */
  .header_frame {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #03D0E6;
  }

  /* line 141, ../sass/rwd.scss */
  .menu_background {
    background-color: black;
    padding: 6px;
  }

  /*Reference gradient background*/
  /* line 146, ../sass/rwd.scss */
  .content_background {
    background-color: #393939;
    padding: 10px;
  }

  /* line 150, ../sass/rwd.scss */
  .thumbs {
    list-style: none;
    margin: 0px auto;
    padding: 10px;
    text-align: center;
  }

  /* line 156, ../sass/rwd.scss */
  .font_project_category {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
  }

  /* line 162, ../sass/rwd.scss */
  .profileandpic,
  .category_skills {
    margin: 0px 20px;
    vertical-align: top;
    display: inline-block;
  }

  /* line 168, ../sass/rwd.scss */
  .header_title {
    text-align: left;
    padding: 10px;
    margin-left: 22px;
    font-size: 20px;
    color: white;
    font-family: "Helvetica", Arial, sans-serif;
  }
}
/*Mobile*/
@media screen and (max-width: 500px) {
  /* line 182, ../sass/rwd.scss */
  .content_frame {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #393939;
  }

  /* line 188, ../sass/rwd.scss */
  .menu_frame {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
  }

  /* line 194, ../sass/rwd.scss */
  .content_left {
    width: 100%;
    margin: 0px;
    display: block;
    vertical-align: top;
    background-color: #393939;
    padding: 6px 0px 6px 6px;
  }

  /* line 202, ../sass/rwd.scss */
  .content_right {
    width: 100%;
    background-color: #393939;
    display: block;
  }

  /* line 207, ../sass/rwd.scss */
  .cell_line_right {
    display: none;
  }

  /* line 210, ../sass/rwd.scss */
  .li_projects {
    display: inline-block;
    width: 270px;
    height: 240px;
    border-radius: 5px;
    margin: 20px auto;
    background-color: white;
    opacity: 1;
  }

  /* line 219, ../sass/rwd.scss */
  .header_frame {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #03D0E6;
  }

  /* line 225, ../sass/rwd.scss */
  .menu_background {
    background-color: black;
    padding: 6px;
  }

  /*Reference gradient background*/
  /* line 230, ../sass/rwd.scss */
  .content_background {
    background-color: #393939;
    padding: 10px;
  }

  /* line 234, ../sass/rwd.scss */
  .thumbs {
    list-style: none;
    margin: 0px auto;
    padding: 10px;
    text-align: center;
  }

  /* line 240, ../sass/rwd.scss */
  .font_project_category {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
  }

  /* line 246, ../sass/rwd.scss */
  .profileandpic,
  .category_skills {
    vertical-align: top;
    display: inline-block;
  }

  /* line 251, ../sass/rwd.scss */
  .header_title {
    text-align: left;
    padding: 10px;
    margin-left: 2px;
    font-size: 20px;
    color: white;
    font-family: "Helvetica", Arial, sans-serif;
  }
}
/* Delete white space */
/* line 5, ../sass/main.scss */
body {
  margin: 0px;
}

/* line 9, ../sass/main.scss */
tr {
  vertical-align: top;
  margin-bottom: 200px;
}

/* line 14, ../sass/main.scss */
table {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 19, ../sass/main.scss */
.header_background {
  background-color: #03D0E6;
}

/* Frame */
/* line 26, ../sass/main.scss */
.content_left_contact {
  background-color: #393939;
  display: inline-block;
}

/* line 31, ../sass/main.scss */
.right_content_text {
  font-size: 18px;
  color: #B9B9B9;
  line-height: 25px;
}

/* line 38, ../sass/main.scss */
.contact_pic {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0px;
}

/* line 46, ../sass/main.scss */
.cell_row {
  margin: 10px 0px 10px 0px;
}

/* line 50, ../sass/main.scss */
.contact_text {
  display: inline-block;
  width: 200px;
  vertical-align: middle;
  font-size: 18px;
  color: #B9B9B9;
  margin-left: 5px;
}

/* line 59, ../sass/main.scss */
.contact_text_address {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  font-size: 18px;
  color: #B9B9B9;
  margin-left: 5px;
}

/* line 68, ../sass/main.scss */
.contact_cell {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* line 78, ../sass/main.scss */
.contact_cell_pic {
  border-radius: 10px;
  padding-left: 5px;
}

/* line 83, ../sass/main.scss */
.resume_cell_pic {
  padding-left: 5px;
}

/* line 87, ../sass/main.scss */
.skill_cell {
  display: inline-block;
}

/* line 91, ../sass/main.scss */
.cell_line {
  display: inline-block;
  vertical-align: middle;
  width: 168px;
}

/* line 97, ../sass/main.scss */
.cell_background {
  width: 250px;
}

/* line 101, ../sass/main.scss */
.content_title_background {
  background-color: #FF931E;
}

/* line 105, ../sass/main.scss */
.tab_style {
  text-align: center;
  background-color: black;
  border: 0px #3A5795 solid;
  margin: 8px 12px 8px 8px;
  letter-spacing: 1.5px;
  display: inline-block;
}

/* line 115, ../sass/main.scss */
div.tab_style:hover {
  color: gray;
}

/* line 119, ../sass/main.scss */
a {
  text-decoration: none;
  color: #B9B9B9;
}
/* line 122, ../sass/main.scss */
a > .projects {
  color: black;
}
/* line 125, ../sass/main.scss */
a:hover {
  color: gray;
}

/* line 130, ../sass/main.scss */
.inactive_tab {
  color: white;
}

/* line 134, ../sass/main.scss */
.active_tab {
  color: gray;
}

/* line 139, ../sass/main.scss */
div #content2 {
  display: none;
}

/* line 144, ../sass/main.scss */
.content_title {
  font-size: 20px;
  font-family: "Helvetica", Arial, sans-serif;
  text-align: center;
  color: white;
}

/* line 151, ../sass/main.scss */
.content_article {
  font-size: 20px;
  padding: 10px;
}

/* line 156, ../sass/main.scss */
.profile_frame {
  width: 100%;
}

/* line 160, ../sass/main.scss */
.profile {
  border: 2px solid #B9B9B9;
  margin: 8px 0px 0px 0px;
}

/* line 165, ../sass/main.scss */
.font_family {
  font-family: "Helvetica", Arial, sans-serif;
}

/* line 169, ../sass/main.scss */
.font_skill_title {
  margin: 5px 0px 5px 0px;
  font-size: 20px;
  color: #FF931E;
  text-align: left;
  letter-spacing: 1.5px;
}

/* line 177, ../sass/main.scss */
.font_profess_skill {
  font-size: 16px;
  letter-spacing: 1px;
  margin: 20px 0px 10px 0px;
  color: white;
  text-align: left;
}

/* line 185, ../sass/main.scss */
.font_school_experience {
  font-size: 16px;
  letter-spacing: 1px;
  color: #03D0E6;
  text-align: left;
  display: inline-block;
}

/* line 193, ../sass/main.scss */
.font_year {
  display: inline-block;
  font-size: 16px;
}

/* line 198, ../sass/main.scss */
.skill_margin {
  margin: 0px 0px 8px 0px;
}

/* line 202, ../sass/main.scss */
.font_skills {
  font-size: 16px;
  margin: 5px 0px 5px 0px;
  color: #B9B9B9;
  letter-spacing: 1px;
  text-align: left;
}

/* line 210, ../sass/main.scss */
.font_right_title {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 1.5px;
  padding: 0px 0px 0px 0px;
  margin-left: 2px;
  color: #FF931E;
  vertical-align: middle;
  display: inline-block;
}

/* line 221, ../sass/main.scss */
.meter {
  /* Status bar height */
  height: 10px;
  width: 250px;
  position: relative;
  background: #B9B9B9;
  padding: 2px 0px 2px 0px;
  text-align: center;
}
/* line 229, ../sass/main.scss */
.meter > span {
  display: block;
  height: 100%;
  background-image: linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
  position: relative;
  overflow: hidden;
  background-color: #03D0E6;
}

/*Content2*/
/* line 242, ../sass/main.scss */
.thumbs {
  list-style: none;
  margin: 0px auto;
  padding: 10px;
  text-align: left;
}

/* line 249, ../sass/main.scss */
.li_project_font {
  font-size: 20px;
  text-align: center;
}

/* line 254, ../sass/main.scss */
.li_project_pic {
  text-align: center;
  border-radius: 5px;
  margin: 10px 10px 0px 10px;
}

/* line 260, ../sass/main.scss */
.class_svg_project_pic {
  width: 250px;
  height: 200px;
  margin: 10px 10px 0px 10px;
}

/* line 266, ../sass/main.scss */
.svg_text_font {
  font-size: 20px;
  letter-spacing: 1.5px;
}

/* line 271, ../sass/main.scss */
.text_color_sub {
  color: white;
  font-size: 16px;
  margin-top: 10px;
}

/* line 277, ../sass/main.scss */
.edu_and_job_title {
  color: #03D0E6;
  margin-top: 20px;
}

/* line 282, ../sass/main.scss */
.edu_and_job_bar {
  margin-top: 30px;
  margin-bottom: -10px;
}

/* line 287, ../sass/main.scss */
.introduction,
.intro_text {
  margin-top: 10px;
}

/* line 292, ../sass/main.scss */
.skills_title_bar {
  margin-top: 20px;
  margin-bottom: -10px;
}
