@media screen and (min-width: 1000px) {
  /* line 13, ../sass/rwd.scss */
  .content_frame {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #393939;
  }

  /* line 19, ../sass/rwd.scss */
  .content_left {
    width: 26.5%;
    background-color: #393939;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
  }

  /* line 26, ../sass/rwd.scss */
  .content_right {
    width: 68%;
    background-color: #393939;
    display: inline-block;
    padding: 13px 0px 0px 10px;
  }

  /* line 32, ../sass/rwd.scss */
  .cell_line_right {
    display: inline-block;
    width: 200px;
    text-align: middle;
  }

  /* line 37, ../sass/rwd.scss */
  .li_projects {
    display: inline-block;
    width: 270px;
    height: 240px;
    border-radius: 5px;
    margin: 20px;
    background-color: white;
    opacity: 1;
  }

  /* line 46, ../sass/rwd.scss */
  .menu_frame {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 0px 6px 6px;
    background-color: black;
  }

  /* line 53, ../sass/rwd.scss */
  .header_frame {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 0px 6px 0px;
    background-color: #03D0E6;
  }

  /* line 60, ../sass/rwd.scss */
  .menu_background {
    background-color: black;
  }

  /*Reference gradient background*/
  /* line 64, ../sass/rwd.scss */
  .content_background {
    background-color: #393939;
  }

  /* line 67, ../sass/rwd.scss */
  .thumbs {
    list-style: none;
    margin: 0px auto;
    padding: 10px;
    text-align: left;
  }

  /* line 73, ../sass/rwd.scss */
  .font_project_category {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px 10px 20px;
  }

  /* line 79, ../sass/rwd.scss */
  .profileandpic,
  .category_skills {
    vertical-align: top;
    display: inline-block;
  }
}
/*Pad*/
@media screen and (min-width: 501px) and (max-width: 999px) {
  /* line 90, ../sass/rwd.scss */
  .content_frame {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #393939;
  }

  /* line 96, ../sass/rwd.scss */
  .menu_frame {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
  }

  /* line 102, ../sass/rwd.scss */
  .content_left {
    width: 100%;
    margin: 0px;
    display: block;
    vertical-align: top;
    background-color: #393939;
    padding: 6px 0px 6px 6px;
  }

  /* line 110, ../sass/rwd.scss */
  .content_right {
    margin: 0px 24px;
    background-color: #393939;
    display: block;
  }

  /* line 115, ../sass/rwd.scss */
  .cell_line_right {
    display: none;
  }

  /* line 118, ../sass/rwd.scss */
  .li_projects {
    display: inline-block;
    width: 270px;
    height: 240px;
    border-radius: 5px;
    margin: 20px 10px;
    background-color: white;
    opacity: 1;
  }

  /* line 127, ../sass/rwd.scss */
  .header_frame {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #03D0E6;
  }

  /* line 133, ../sass/rwd.scss */
  .menu_background {
    background-color: black;
    padding: 6px;
  }

  /*Reference gradient background*/
  /* line 138, ../sass/rwd.scss */
  .content_background {
    background-color: #393939;
    padding: 10px;
  }

  /* line 142, ../sass/rwd.scss */
  .thumbs {
    list-style: none;
    margin: 0px auto;
    padding: 10px;
    text-align: center;
  }

  /* line 148, ../sass/rwd.scss */
  .font_project_category {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
  }

  /* line 154, ../sass/rwd.scss */
  .profileandpic,
  .category_skills {
    margin: 0px 20px;
    vertical-align: top;
    display: inline-block;
  }
}
/*Mobile*/
@media screen and (max-width: 500px) {
  /* line 166, ../sass/rwd.scss */
  .content_frame {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #393939;
  }

  /* line 172, ../sass/rwd.scss */
  .menu_frame {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
  }

  /* line 178, ../sass/rwd.scss */
  .content_left {
    width: 100%;
    margin: 0px;
    display: block;
    vertical-align: top;
    background-color: #393939;
    padding: 6px 0px 6px 6px;
  }

  /* line 186, ../sass/rwd.scss */
  .content_right {
    width: 100%;
    background-color: #393939;
    display: block;
  }

  /* line 191, ../sass/rwd.scss */
  .cell_line_right {
    display: none;
  }

  /* line 194, ../sass/rwd.scss */
  .li_projects {
    display: inline-block;
    width: 270px;
    height: 240px;
    border-radius: 5px;
    margin: 20px auto;
    background-color: white;
    opacity: 1;
  }

  /* line 203, ../sass/rwd.scss */
  .header_frame {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #03D0E6;
  }

  /* line 209, ../sass/rwd.scss */
  .menu_background {
    background-color: black;
    padding: 6px;
  }

  /*Reference gradient background*/
  /* line 214, ../sass/rwd.scss */
  .content_background {
    background-color: #393939;
    padding: 10px;
  }

  /* line 218, ../sass/rwd.scss */
  .thumbs {
    list-style: none;
    margin: 0px auto;
    padding: 10px;
    text-align: center;
  }

  /* line 224, ../sass/rwd.scss */
  .font_project_category {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
  }

  /* line 230, ../sass/rwd.scss */
  .profileandpic,
  .category_skills {
    vertical-align: top;
    display: inline-block;
  }
}
