@media screen and (min-width: 1000px) {
  /* line 16, ../sass/rwd.scss */
  .content_frame {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #393939;
  }

  /* line 22, ../sass/rwd.scss */
  .content_left {
    width: 26.5%;
    background-color: #393939;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
  }

  /* line 29, ../sass/rwd.scss */
  .content_right {
    width: 68%;
    background-color: #393939;
    display: inline-block;
    padding: 13px 0px 0px 10px;
  }

  /* line 35, ../sass/rwd.scss */
  .cell_line_right {
    display: inline-block;
    width: 200px;
    text-align: middle;
  }

  /* line 40, ../sass/rwd.scss */
  .li_projects {
    display: inline-block;
    width: 270px;
    height: 240px;
    border-radius: 5px;
    margin: 20px;
    background-color: white;
    opacity: 1;
  }

  /* line 49, ../sass/rwd.scss */
  .menu_frame {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 0px 6px 6px;
    background-color: black;
  }

  /* line 56, ../sass/rwd.scss */
  .header_frame {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 0px 6px 0px;
    background-color: #03D0E6;
  }

  /* line 63, ../sass/rwd.scss */
  .menu_background {
    background-color: black;
  }

  /*Reference gradient background*/
  /* line 67, ../sass/rwd.scss */
  .content_background {
    background-color: #393939;
  }

  /* line 70, ../sass/rwd.scss */
  .thumbs {
    list-style: none;
    margin: 0px auto;
    padding: 10px;
    text-align: left;
  }

  /* line 76, ../sass/rwd.scss */
  .font_project_category {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px 10px 20px;
  }

  /* line 82, ../sass/rwd.scss */
  .profileandpic,
  .category_skills {
    vertical-align: top;
    display: inline-block;
  }

  /* line 87, ../sass/rwd.scss */
  .header_title {
    text-align: left;
    padding: 10px;
    font-size: 20px;
    color: white;
    font-family: "Helvetica", Arial, sans-serif;
  }
}
/*Pad*/
@media screen and (min-width: 501px) and (max-width: 999px) {
  /* line 100, ../sass/rwd.scss */
  .content_frame {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #393939;
  }

  /* line 106, ../sass/rwd.scss */
  .menu_frame {
    margin-left: 20px;
    background-color: black;
  }

  /* line 110, ../sass/rwd.scss */
  .content_left {
    width: 100%;
    margin: 0px;
    display: block;
    vertical-align: top;
    background-color: #393939;
    padding: 6px 0px 6px 6px;
  }

  /* line 118, ../sass/rwd.scss */
  .content_right {
    margin: 0px 24px;
    background-color: #393939;
    display: block;
  }

  /* line 123, ../sass/rwd.scss */
  .cell_line_right {
    display: none;
  }

  /* line 126, ../sass/rwd.scss */
  .li_projects {
    display: inline-block;
    width: 270px;
    height: 240px;
    border-radius: 5px;
    margin: 20px 10px;
    background-color: white;
    opacity: 1;
  }

  /* line 135, ../sass/rwd.scss */
  .header_frame {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #03D0E6;
  }

  /* line 141, ../sass/rwd.scss */
  .menu_background {
    background-color: black;
    padding: 6px;
  }

  /*Reference gradient background*/
  /* line 146, ../sass/rwd.scss */
  .content_background {
    background-color: #393939;
    padding: 10px;
  }

  /* line 150, ../sass/rwd.scss */
  .thumbs {
    list-style: none;
    margin: 0px auto;
    padding: 10px;
    text-align: center;
  }

  /* line 156, ../sass/rwd.scss */
  .font_project_category {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
  }

  /* line 162, ../sass/rwd.scss */
  .profileandpic,
  .category_skills {
    margin: 0px 20px;
    vertical-align: top;
    display: inline-block;
  }

  /* line 168, ../sass/rwd.scss */
  .header_title {
    text-align: left;
    padding: 10px;
    margin-left: 22px;
    font-size: 20px;
    color: white;
    font-family: "Helvetica", Arial, sans-serif;
  }
}
/*Mobile*/
@media screen and (max-width: 500px) {
  /* line 182, ../sass/rwd.scss */
  .content_frame {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #393939;
  }

  /* line 188, ../sass/rwd.scss */
  .menu_frame {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
  }

  /* line 194, ../sass/rwd.scss */
  .content_left {
    width: 100%;
    margin: 0px;
    display: block;
    vertical-align: top;
    background-color: #393939;
    padding: 6px 0px 6px 6px;
  }

  /* line 202, ../sass/rwd.scss */
  .content_right {
    width: 100%;
    background-color: #393939;
    display: block;
  }

  /* line 207, ../sass/rwd.scss */
  .cell_line_right {
    display: none;
  }

  /* line 210, ../sass/rwd.scss */
  .li_projects {
    display: inline-block;
    width: 270px;
    height: 240px;
    border-radius: 5px;
    margin: 20px auto;
    background-color: white;
    opacity: 1;
  }

  /* line 219, ../sass/rwd.scss */
  .header_frame {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #03D0E6;
  }

  /* line 225, ../sass/rwd.scss */
  .menu_background {
    background-color: black;
    padding: 6px;
  }

  /*Reference gradient background*/
  /* line 230, ../sass/rwd.scss */
  .content_background {
    background-color: #393939;
    padding: 10px;
  }

  /* line 234, ../sass/rwd.scss */
  .thumbs {
    list-style: none;
    margin: 0px auto;
    padding: 10px;
    text-align: center;
  }

  /* line 240, ../sass/rwd.scss */
  .font_project_category {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
  }

  /* line 246, ../sass/rwd.scss */
  .profileandpic,
  .category_skills {
    vertical-align: top;
    display: inline-block;
  }

  /* line 251, ../sass/rwd.scss */
  .header_title {
    text-align: left;
    padding: 10px;
    margin-left: 2px;
    font-size: 20px;
    color: white;
    font-family: "Helvetica", Arial, sans-serif;
  }
}
